<div class="container-fluid">

  <div>
    <h1>About</h1>
    <p>Welcome! I've spent the last couple of years breaking into the tech industry, and aspire to learn as much as possible about interesting topics in Computer Science and software development. I hope to make positive, multi-disciplinary social change through creative thinking. Please feel free to reach out and connect!

    </p>
  </div>

  <div>
    <h3>Education</h3>
    <p>Candidate for MSCS at Northeastern University. Member of the ALIGN program, transitioning non-CS majors to tech careers</p>
    <p>MA Honours in Philosophy (BA equivalent) from the University of St Andrews in St Andrews, Scotland</p>
    <p>Dissertation in the philosophy of punishment and criminal justice reform</p>
  </div>

  <div>
    <h3>Work Experience</h3>
    <p>Product Development Engineer Co-op at ERT in Boston, MA</p>
    <p>Teaching Assistant for CS5001, Intensive Foundations of Computer Science, at Northeastern University</p>
  </div>


</div>
