<div class="container-fluid">


  <router-outlet></router-outlet>
	<nav class="navbar fixed-bottom navbar-dark bg-dark">
		<div>

			<a class="nav-link" routerLink=""><h4>Home</h4></a>

		</div>
		<div>
			<a class="nav-link" routerLink="/about"><h4>About Me</h4></a>
		</div>

		<div>
			<a class="nav-link" routerLink="/projects"><h4>Projects</h4></a>
		</div>

		<div class="lizard">
			<a class="nav-link" routerLink="/dragon">
				<img src='../assets/lizardwhite.png' id="lizard">
			</a>
		</div>



		<div class="github">
			<a class="nav-link" href="https://github.com/gabriel-bishop" target="_blank">
				<img src='../assets/githublogo.jpg' id="github">
			</a>
			<p>GitHub</p>
		</div>


		<div class="lichess">
			<a class="nav-link" href="https://lichess.org/@/SonnovaBishop" target="_blank">
				<img src='../assets/lichess.png' id="lichess">
			</a>
			<p>Lichess</p>
		</div>

	</nav>


</div>
